P
{
	font-size: 12pt;
	color: white;
}
h1, h2
{
	color: orange;
}
Body
{
	background-color: black;
}
li
{
	color: SkyBlue;
}
#TheHistory
{
	color: LightCoral;
}
#RulesandRegulations
{
	color: Lime;
}
.ball
{
	text-align: center;
}
img
{
	margin-left: 33%
}
h3
{
	color: silver;
}
h4
{
	color: yellow;
}
#logo
{
	margin-left: 55%